package-lock=false
//gitlab.com/api/v4/projects/58113847/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
@myunisoft:registry=https://gitlab.com/api/v4/packages/npm/